html {
  height: 100%;
}

body {
  background: linear-gradient(
    to bottom right,
    rgb(153, 150, 150) 0%,
    rgb(55, 109, 216) 100%
  );
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.95rem;
}

h1 {
  text-align: center;
}

.flex {
  display: flex;
}

.flex--justify-content {
  justify-content: center;
}
